* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #F15A5C;
  font-family: "Roboto Slab", serif;
  color: white;
}


label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7em;
}

input[type="text"], input[type="password"] {
  width: 100%;
  border: none;
  padding: 0.5em;
  border-radius: 2px;
  color: #333;
}

button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border: none;
  border-radius: 2px;
  background-color: #7E5AF1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
}
body {
    background-color:#fff;
}
nav{margin: 0px;
    color:#fff;
}
footer{ 
    clear: both;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff;
    background-color:#303192;
}

footer h4{
    padding-left: 10px;
}
footer h4 a{
    color:#428bca;
}

#titulo{
    color: #fff;
}

nav.navbar{
        background-color:#8C0404; 
        border-bottom: 2px solid rgba(256,256,256,.5);
}
#usuario ul li a{
    color:#fff;

}
#usuario ul li a:hover{
    background-color: rgba(0,0,0,.5);

}

#usuario ul li ul li a{
    color:#000;

}
.navbar-top-links li:active{
    background-color: #000;
} 
.sidebar{
    margin:2px 0 0 0;
    background-color:#8C0404; 
}
.sidebar li a{
        color:#fff;
}
.sidebar li a:hover{
        background-color:rgba(0,0,0,.5);
}
#administrar-oculto, #exportar-oculto{
    display: none;
}


        
